%div.emails
  %table.tables.table-striped.table-bordered.table-condensed{style: "margin-left: auto;margin-right: auto;text-align:left; font-size: 14px"}
    %thead
      %tr
        %th
          Sender
        %th
          Subject
        %th
          Image
    %tbody
      - mails.each do |mail|
        %tr
          %td= mail.sender_name
          %td= mail.subject
          %td
            - mail.image_attachments.each_with_index do |ia, i|
              - if locals[:env] == "production"
                %a{href: ENV["S3_HOST_PRODUCTION"] + ia.filename}= "view#{i+1}"
              - elsif locals[:env] == "staging" || locals[:env] == "development"
                %a{href: ENV["S3_HOST_STAGING"] + ia.filename}= "view#{i+1}"
- if search == "Search"
  %div.pagination.pagination-centered
    %ul
      %li
        - if current_page > 1
          %a{href: "?page=#{current_page-1}"}= "<<"
        - for i in 1..page_count
          - if i == current_page
            %a.disabled{href: "?page=#{i}"}= "#{i}"
          - else
            %a.active{href: "?page=#{i}"}= "#{i}"
        - if current_page != page_count
          %a{href: "?page=#{current_page+1}"}= ">>"

