%div.notice
  %div.alert
    Thanks for popping by! <a href="/notice">Please read me</a>
%div.emails
  %table.tables.table-striped.table-bordered.table-condensed{style: "margin-left: auto;margin-right: auto;text-align:left; font-size: 14px"}
    %thead
      %tr
        %th
          Sender
        %th
          Subject
        %th
          Image
    %tbody
      - mails.each do |mail|
        %tr
          %td= mail.sender_name
          %td= mail.subject
          %td
            - mail.image_attachments.each_with_index do |ia, i|
              %a{href: "/attachment?id=" + ia.id.to_s}= "view "
- if search == "Search" && page_count > 1
  %div.pagination.pagination-centered
    %ul
      %li
        - if current_page > 1
          %a{href: "?page=#{current_page-1}"}= "<<"
        - for i in 1..page_count
          - if i == current_page
            %a.disabled{href: "?page=#{i}"}= "#{i}"
          - else
            %a.active{href: "?page=#{i}"}= "#{i}"
        - if current_page != page_count
          %a{href: "?page=#{current_page+1}"}= ">>"

